*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
}
button{
    padding:10px 20px ;
    background-color: violet;
    color: #fff;
}